/*@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }*/

/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

body {
  /*margin: 0 auto;
  max-width: 70em;*/
  margin-top: 50px;
  font-size: 16px;
  background-color: #fce2b3;
}

.title {
  margin-left: 85px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  /*transition: all .2s ease-in-out;*/
  animation: linkcolor 1s infinite;
  -webkit-animation: linkcolor 1s infinite;
}

a:link {
  color: #e81c4f;
}

a:visited {
  color: #e81c4f;
}

a:hover {
  color: #e81c4f;
  text-decoration: underline;
  /*border-bottom: solid #e81c4f 1px;*/
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

body {
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  /*font-family: 'Lato', sans-serif;*/
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  margin-left: 85px;
  margin-top: 20px;

  /*padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-left: 15px;*/
  /*border-left: solid 1px #ccc;*/
  transition: all .01s ease-in-out;

  /*animation: bgcolor 1s infinite;
  animation-direction: alternate;
  -webkit-animation: bgcolor 1s infinite;
  -webkit-animation-direction: alternate;*/
}

@keyframes bgcolor {
    0% {
        background-color: #eee
    }
    50% {
        background-color: #fff
    }
    100% {
        background-color: #eee
    }
}

@keyframes linkcolor {
    0% {
        color: #e81c4f
    }
    /*50% {
        color: #e8771c
    }*/
    100% {
        color: #e81c4f
    }
}

.right-side {
  position: absolute;
  left: 235px;
  width: 700px;
}

.pre-footer {
  margin-top: 50px;
}

.footer {
  margin-bottom: 50px;
}

.intro {
  /*margin-bottom: 50px;*/
}
